<!DOCTYPE html>
<html lang="ru" dir="ltr" itemscope="itemscope" itemtype="http://schema.org/WebPage" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% if title %}{{ title }} | BB8 {% else %} BB8 | Starter Kit {% endif %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--  Perfecting, Preloading -->
    <!--
  (Uncomment this section if you need to prefetch Google Fonts)
  <link rel="preconnect" href="https://fonts.gstatic.com/" />
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/" />
  <link rel="preload" href="https://fonts.googleapis.com/your-font-here" as="style" />
  <link rel="prefetch" href="https://fonts.googleapis.com/your-font-here" as="style" />
  -->
    <!--  Some SEO Tags -->
    <link rel="index" href="https://example.com/" />
    <link rel="canonical" href="https://example.com/" />
    <meta name="description" content="Starter pack for automating tasks in everyday front-end development. 🤖" />
    <!--  Facebook (Open Graph)  -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="BB8" />
    <meta property="og:site_name" content="BB8" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="https://example.com/" />
    <meta property="og:see_also" content="R2D2" />
    <meta property="og:description" content="Starter pack for automating tasks in everyday front-end development. 🤖" />
    <!--  Google  -->
    <meta itemprop="name" content="BB8" />
    <meta itemprop="image" content="" />
    <meta itemprop="description" content="Starter pack for automating tasks in everyday front-end development. 🤖" />
    <!--  Twitter  -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="BB8" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="https://example.com/" />
    <meta name="twitter:description" content="Starter pack for automating tasks in everyday front-end development. 🤖" />
    <!--  Installation credentials for the Website -->
    <!--  Add to homescreen for Chrome on Android -->
    <meta name="application-name" content="BB8" />
    <meta name="theme-color" content="#fff" />
    <link rel="manifest" href="./manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />
    <!--  Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-title" content="BB8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!--  Microsoft Windows Tiles -->
    <meta name="msapplication-starturl" content="https://example.com/" />
    <meta name="msapplication-TileColor" content="#fff" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="msapplication-TileImage" content="144x144" />
    <meta name="msapplication-config" content="./browserconfig.xml" />
    <!--  Information About Author -->
    <link rel="me" href="sms:+994557024284" />
    <link rel="me" href="mailto:rommelmamedov@gmail.com" />
    <meta name="author" content="Ramil Mamedov" />
    <!--  Favicons -->
    <!-- <link rel="icon" href="" sizes="any" type="image/svg+xml" /> -->
    <link rel="icon" href="./img/favicons/android-chrome-48x48.png" sizes="48x48" type="image/png" />
    <link rel="apple-touch-icon" href="./img/favicons/apple-touch-icon-180x180.png" sizes="180x180" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="./img/favicons/apple-touch-icon-precomposed.png" type="image/png" />
    <!--  Fonts -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/your-font-here" /> -->
    <!--  Style Sheets -->
    <link rel="stylesheet" href="css/main.min.css" />
  </head>

  <body class="{% if page %}home{% endif %}">
    <!--[if IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    {% include 'partials/header.html' %}
    <main class="main">
      {% block content %}{% endblock %}
    </main>
    {% include 'partials/footer.html' %} {% include 'components/description.html' %}
    <!-- JavaScript Files -->
    <script type="text/javascript" src="js/vendors.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
  </body>
</html>
